$main-bg-color: #161321;
$main-white: #fff;
$accent-blue: #5C557A;
$accent-blue-darker: #38375F;
$dark-blue-light-border-color: 1px solid rgba(92, 85, 122, 0.1);
$accent-gray: #888;
$accent-gray-lighter: #C6C5D1;
$accent-black: #35342f;
$accent-red: #FB5555;