@font-face {
  font-family: "Flaticon";
  src: url("./fonts/icon-font.eot");
  src: url("./fonts/icon-font.eot?#iefix") format("embedded-opentype"),
       url("./fonts/icon-font.woff") format("woff"),
       url("./fonts/icon-font.ttf") format("truetype"),
       url("./fonts/icon-font.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./fonts/icon-font.svg#Flaticon") format("svg");
  }
}