@import url(https://fonts.googleapis.com/css?family=Roboto:100,400);
@import './_icon-font.scss';
@import './mixins/_breakpoints.scss';
@import './_colors.scss';

* {
  box-sizing: border-box;
}

body {
  background: $main-bg-color;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

button {
  margin      : 0;
  padding     : 0;
  border      : 0;
  background  : transparent;
  font-family : inherit;
  font-size   : 1em;
  cursor      : pointer;

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  &:active {
    color: $accent-black;
  }
}

.container {
  margin: 0;
  max-width: 1024px;
  background-color: #eee;

  @media screen and (min-width: $large) {
    margin: 1em auto;
    padding: 0 2em 2em;
  }
}